<div class="container">
  <form class="table-form" [formGroup]="todo" (ngSubmit)="logForm()">
    <div class="row">
      <label for="tituloProyecto" class="col-sm-3 col-form-label">TITULO DEL PROYECTO</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="tituloProyecto" placeholder="Titulo del Proyecto">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        Código del proyecto
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-5 br">
            <input type="text" class="form-control" id="departamento" placeholder="Código">
          </div>
          <label for="tituloProyecto" class="col-sm-1 col-form-label">FECHA</label>
          <div class="col-sm-6">
            <input type="date" class="form-control" id="departamento" placeholder="Fecha">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        Director/Responsable del proyecto
      </div>
      <div class="col-sm-9">
        <div class="row">
          <label for="personaResponsable" class="col-sm-3 col-form-label">Persona</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="personaResponsable" placeholder="Persona Responsable">
          </div>
        </div>
        <div class="row">
          <label for="departamento" class="col-sm-3 col-form-label">Departamento</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="departamento" placeholder="Departamento">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        Propuesta por
      </div>
      <div class="col-sm-9">
        <div class="row">
          <label for="personaResponsable" class="col-sm-3 col-form-label">Persona</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="personaResponsable" placeholder="Persona Responsable">
          </div>
        </div>
        <div class="row">
          <label for="departamento" class="col-sm-3 col-form-label">Departamento</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="departamento" placeholder="Departamento">
          </div>
        </div>
      </div>
    </div>
    <br>
    <h1>DESCRIPCIÓN Y JUSTIFICACIÓN DEL CAMBIO PROPUESTO</h1>
    <br>
    <h6>Impacto del cambio</h6>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">Aspecto</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Alcance</td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
            </td>
            <td><input type="text" class="form-control" name="" id=""></td>
          </tr>
          <tr>
            <td>Costo</td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
            </td>
            <td><input type="text" class="form-control" name="" id=""></td>
          </tr>
          <tr>
            <td>Plazo</td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
            </td>
            <td><input type="text" class="form-control" name="" id=""></td>
          </tr>
          <tr>
            <td>Otro</td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
            </td>
            <td><input type="text" class="form-control" name="" id=""></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <h6>Documentacion adjunta</h6>
    <div class="row">
      <div class="col-sm-3">
        <label for="departamento" class="col-sm-3 col-form-label">Relación valorada</label>
      </div>
      <div class="col-sm-1 br">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        </div>
      </div>
      <div class="col-sm-3 br">
        <label for="departamento" class="col-sm-3 col-form-label">Plano</label>
      </div>
      <div class="col-sm-1 br">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        </div>
      </div>
      <div class="col-sm-3 br">
        <label for="departamento" class="col-sm-3 col-form-label">Otro</label>
      </div>
      <div class="col-sm-1">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        </div>
      </div>
    </div>
    <div class="row">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div>
    <br>
    <h6>Cliente</h6>
    <div class="row">
      <div class="col-sm-3">
        <label for="departamento" class="col-sm-3 col-form-label">Aprueba</label>
      </div>
      <div class="col-sm-1 br">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        </div>
      </div>
      <div class="col-sm-3 br">
        <label for="departamento" class="col-sm-3 col-form-label">Aplaza</label>
      </div>
      <div class="col-sm-1 br">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        </div>
      </div>
      <div class="col-sm-3 br">
        <label for="departamento" class="col-sm-3 col-form-label">Rechaza</label>
      </div>
      <div class="col-sm-1">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        </div>
      </div>
    </div>
    <div class="row">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div>
    <br>
    <h6>Comunicación del estado de cambio</h6>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre de la persona notificada</th>
            <th>Rol</th>
            <th>Firma</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" class="form-control " id=""></td>
            <td><input type="text" class="form-control " id=""></td>
            <td><input type="text" class="form-control " id=""></td>
            <td><input type="text" class="form-control " id=""></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex flex-row-reverse mt-3">
      <button type="submit" class="btn btn-success" style="min-width:128px">Enviar</button>
    </div>
  </form>
</div>