<div class="container">
  <form class="table-form" [formGroup]="todo" (ngSubmit)="logForm()">
    <div class="row">
      <div class="col-sm-2">
        TITULO DEL PROYECTO
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-5 br">
            <input type="text" class="form-control" id="departamento">
          </div>
          <label for="tituloProyecto" class="col-sm-1 col-form-label">FECHA</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="departamento">
          </div>
        </div>
      </div>
    </div>
    <div class="row offset-md-4">
      <div class="col-sm-4">
        Edición /versión
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-3 br">
            <input type="text" class="form-control" id="departamento">
          </div>
          <label for="tituloProyecto" class="col-sm-3 col-form-label">FECHA</label>
          <div class="col-sm-6">
            <input type="date" class="form-control" id="departamento">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>NOMBRE DE LA PERSONA RESPONSABLE DE LOS TRABAJOS</b><br><small>(consultas
          de carácter técnico y administrativo)</small></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control">
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>ALCANCE DE LA ADQUISICIÓN</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control">
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>PRESCRIPCIONES TÉCNICAS QUE DEBERÁ CUMPLIR</b><br><small>(funcional,
          normas, legislación, etc...)</small></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control">
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>CANTIDAD A ADQUIRIR Y UNIDAD DE MEDIDA</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control">
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>DOCUMENTACIÓN E INFORMACIÓN A DISPOSICIÓN DEL
          ADJUDICATARIO, SI EXISTIERA.</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control">
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>DOCUMENTACIÓN A ENTREGAR POR EL CONTRATISTA AL
          TÉRMINO DE SU COMPROMISO Y FORMATO DE LA MISMA PARA PERMITIR SU
          INTEGRACIÓN EN EL CONJUNTO DEL TRABAJO</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control">
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>PRECIO MÁXIMO PARA LA ADQUISICIÓN DEL BIEN O
          SERVICIO.</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control">
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>PLAZO FINAL Y DE LAS ENTREGAS PARCIALES, LUGAR DE
          ENTREGA, ASÍ COMO LAS VERIFICACIONES A REALIZAR</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control">
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>INFORMACIÓN A INCLUIR EN LA OFERTA SOBRE LOS
          REQUISITOS DE ASEGURAMIENTO DE LA CALIDAD</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control">
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>CRITERIOS DE SOLVENCIA TÉCNICA Y ECONÓMICA DE LOS
          CONTRATISTAS, Y CRITERIOS DE VALORACIÓN DE LAS OFERTAS</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control">
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>OTRA INFORMACIÓN ADICIONAL</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="d-flex flex-row-reverse mt-3">
      <button type="submit" class="btn btn-success" style="min-width:128px">Enviar</button>
    </div>
  </form>
</div>