<div class="container">
  <form class="table-form" [formGroup]="todo" (ngSubmit)="logForm()">
    <div class="row">
      <div class="col offset-md-8">
        <div class="form-group row">
          <label for="inputDate" class="col-sm-2 col-form-label" >Fecha</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="inputDate" placeholder="Fecha" formControlName="fecha">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-3 col-form-label">TITULO DEL PROYECTO</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="nombre" placeholder="Titulo del Proyecto">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        CLIENTE/PETICIONARIO
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12">
            <input type="text" class="form-control" formControlName="cliente" id="nombreCliente">
          </div>
        </div>
        <div class="row">
          <label for="personaResponsable" class="col-sm-3 col-form-label">Persona/Rpble. Cliente</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="personaResponsable" placeholder="Persona Responsable">
          </div>
        </div>
        <div class="row">
          <label for="departamento" class="col-sm-3 col-form-label">Departamento</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="departamento" placeholder="Departamento">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        Patrocinador del proyecto <br>(Sponsor)
      </div>
      <div class="col-sm-9">
        <div class="row">
          <label for="personaResponsable" class="col-sm-3 col-form-label">Persona</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="patrocinador" id="personaResponsable" placeholder="Persona">
          </div>
        </div>
        <div class="row">
          <label for="departamento" class="col-sm-3 col-form-label">Departamento</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="departamento" placeholder="Departamento">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        Director/Rpble. del Proyecto
      </div>
      <div class="col-sm-9">
        <div class="row">
          <label for="personaResponsable" class="col-sm-3 col-form-label">Persona</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="personaResponsable" placeholder="Persona">
          </div>
        </div>
        <div class="row">
          <label for="departamento" class="col-sm-3 col-form-label">Departamento</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="departamento" placeholder="Departamento">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <label for="departamento"  class="col-sm-3 col-form-label">Cód. Identif. Proyec</label>
      <div class="col-sm-9">
        <div class="col">
          <input type="text" formControlName="codigo_identificacion" class="form-control"  id="departamento" placeholder="Codigo proyecto">
        </div>
        <div class="col">
          <div class="form-check">
            <input class="form-check-input" formControlName="pendiente_asignacion" type="checkbox" value="" id="defaultCheck1" >
            <label class="form-check-label"  for="defaultCheck1">
              Pendiente asignación
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <label for="departamento" class="col-sm-3 col-form-label">Documentación adjunta</label>
      <div class="col-sm-9">
        <div class="col-sm-3">
          <div class="form-check">
            <input class="form-check-input" formControlName="contrato" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Contrato
            </label>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-check">
            <input class="form-check-input" formControlName="caso_de_negocio" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Caso negocio
            </label>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-check">
            <input class="form-check-input" formControlName="enunciado_trabajo" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Enunciado trabajo
            </label>
          </div>
        </div>
      </div>
    </div>
    <h2><b>INFORMACIÓN PREVIA:</b></h2>
    <div class="row">
      <label for="tituloProyecto"  class="col-sm-12 col-form-label"><b>VISIÓN ESTRATÉGIGA/JUSTIFICACIÓN DEL PROYECTO</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control" formControlName="vision_estrategica" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>DESCRIPCIÓN DEL PROYECTO:</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control" formControlName="descripcion_del_proyecto" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>ANÁLISIS PREVIO DE VIABILIDAD / CASO DE NEGOCIO:</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control" formControlName="analisis_de_viabilidad" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>REQUISITOS GENERALES DEL PROYECTO / PRODUCTO:</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control" formControlName="requisitos_generales" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <h2><b>OBJETIVOS DEL PROYECTO</b></h2>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>ALCANCE DEL PROYECTO</b>
      </label>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-3 col-form-label">OBJETIVOS</label>
      <div class="col-sm-9">
        <textarea class="form-control" formControlName="objetivos_alcance" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-3 col-form-label">MÉTRICA / CRITERIOS DE ACEPTACIÓN</label>
      <div class="col-sm-9">
        <textarea class="form-control" formControlName="metrica_alcance" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        APROBACIÓN
      </div>
      <div class="col-sm-9">
        <div class="row">
          <label for="personaResponsable" class="col-sm-3 col-form-label">Persona</label>
          <div class="col-sm-9">
            <input type="text" formControlName="aprobacion_persona_alcance" class="form-control" id="personaResponsable" placeholder="Persona">
          </div>
        </div>
        <div class="row">
          <label for="departamento" class="col-sm-3 col-form-label">Dpto. / Cargo</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="departamento" placeholder="Departamento">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>TIEMPO / PLAZO</b>
      </label>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-3 col-form-label">OBJETIVOS</label>
      <div class="col-sm-9">
        <textarea class="form-control" formControlName="obejtivos_plazo" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-3 col-form-label">MÉTRICA / CRITERIOS DE ACEPTACIÓN</label>
      <div class="col-sm-9">
        <textarea class="form-control" formControlName="metrica_plazo" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        APROBACIÓN
      </div>
      <div class="col-sm-9">
        <div class="row">
          <label for="personaResponsable" class="col-sm-3 col-form-label">Persona</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="aprobacion_persona_plazo" id="personaResponsable" placeholder="Persona">
          </div>
        </div>
        <div class="row">
          <label for="departamento" class="col-sm-3 col-form-label">Dpto. / Cargo</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="departamento" placeholder="Departamento">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>PRESUPUESTO / COSTE / RESULTADOS (BENEFICIO)</b>
      </label>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-3 col-form-label">OBJETIVOS</label>
      <div class="col-sm-9">
        <textarea class="form-control" formControlName="obejtivos_presupuesto" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-3 col-form-label">MÉTRICA / CRITERIOS DE ACEPTACIÓN</label>
      <div class="col-sm-9">
        <textarea class="form-control" formControlName="metrica_presupuesto" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        APROBACIÓN
      </div>
      <div class="col-sm-9">
        <div class="row">
          <label for="personaResponsable" class="col-sm-3 col-form-label">Persona</label>
          <div class="col-sm-9">
            <input type="text" formControlName="aprobacion_persona_presupuesto" class="form-control" id="personaResponsable" placeholder="Persona">
          </div>
        </div>
        <div class="row">
          <label for="departamento" class="col-sm-3 col-form-label">Dpto. / Cargo</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="departamento" placeholder="Departamento">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>CALIDAD / REQUISITOS FUNCIONALES / REQUISITOS DEL
          CLIENTE
        </b>
      </label>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-3 col-form-label">OBJETIVOS</label>
      <div class="col-sm-9">
        <textarea class="form-control" formControlName="obejtivos_calidad" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-3 col-form-label">MÉTRICA / CRITERIOS DE ACEPTACIÓN</label>
      <div class="col-sm-9">
        <textarea class="form-control" formControlName="metrica_calidad" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        APROBACIÓN
      </div>
      <div class="col-sm-9">
        <div class="row">
          <label for="personaResponsable" class="col-sm-3 col-form-label">Persona</label>
          <div class="col-sm-9">
            <input type="text" formControlName="aprobacion_persona_calidad" class="form-control" id="personaResponsable" placeholder="Persona">
          </div>
        </div>
        <div class="row">
          <label for="departamento" class="col-sm-3 col-form-label">Dpto. / Cargo</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="departamento" placeholder="Departamento">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>OTROS REQUISITOS A CUMPLIR POR EL PROYECTO</b>
      </label>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-3 col-form-label">OBJETIVOS</label>
      <div class="col-sm-9">
        <textarea class="form-control" formControlName="obejtivos_otros" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-3 col-form-label">MÉTRICA / CRITERIOS DE ACEPTACIÓN</label>
      <div class="col-sm-9">
        <textarea class="form-control" formControlName="metrica_otros" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        APROBACIÓN
      </div>
      <div class="col-sm-9">
        <div class="row">
          <label for="personaResponsable" class="col-sm-3 col-form-label">Persona</label>
          <div class="col-sm-9">
            <input type="text" formControlName="aprobacion_persona_otros" class="form-control" id="personaResponsable" placeholder="Persona">
          </div>
        </div>
        <div class="row">
          <label for="departamento" class="col-sm-3 col-form-label">Dpto. / Cargo</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="departamento" placeholder="Departamento">
          </div>
        </div>
      </div>
    </div>
    <h2><b>FASES DEL PROYECTO</b></h2>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>FASE</th>
            <th>HITO</th>
            <th>DURACIÓN/FECHA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2><b>HITOS DEL PROYECTO</b></h2>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><b>HITO</b></th>
            <th><b>ENTREGABLE PRINCIPAL</b></th>
            <th><b>FECHA</b></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
            <td><input type="text" class="form-control" id="departamento"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>OTROS REQUISITOS A CUMPLIR POR EL PROYECTO</b>
      </label>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Cargo/Dpto</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>LIMITACIONES DE PARTIDA</b>
      </label>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>LIMITACIÓN</th>
            <th>AFECTA A<br>(PLAZO/COSTE/CALIDAD)</th>
            <th>VALORACIÓN</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>LIMITACIONES DE PARTIDA</b>
      </label>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>RIESGO</th>
            <th>PROBABILIDAD</th>
            <th>IMPACTA SOBRE<br>(PLAZO/COSTE/CALIDAD)</th>
            <th>VALORACIÓN</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>DEPARTAMENTOS IMPLICADOS Y RECURSOS PREASIGNADOS</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control" formControlName="departamentos_implicados" formnameid="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>FACTORES CRÍTICOS DE ÉXITO</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control" formControlName="factores_criticos_de_exito" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>OBSERVACIONES ADICIONALES</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control" formControlName="observaciones" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>VISIÓN ESTRATÉGIGA/JUSTIFICACIÓN DEL PROYECTO</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>NIVEL DE AUTORIDAD Y DECISIÓN DEL DIRECTOR DE
          PROYECTO</b></label>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-4 col-form-label">MÁXIMA DESVIACIÓN SOBRE PRESUPUESTO</label>
      <div class="col-sm-8">
        <textarea class="form-control" formControlName="maxima_desviacion_sobre_presupuesto" id="exampleFormControlTextarea1" rows="2"></textarea>
      </div>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-4 col-form-label">UMBRAL DE RIESGO ACEPTABLE</label>
      <div class="col-sm-8">
        <textarea class="form-control" formControlName="umbral_de_riesgo_aceptable" id="exampleFormControlTextarea1" rows="2"></textarea>
      </div>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-4 col-form-label">CAPACIDAD TÉCNICA DE DECISIÓN</label>
      <div class="col-sm-8">
        <textarea class="form-control" formControlName="capacidad_tecnica_de_desicion" id="exampleFormControlTextarea1" rows="2"></textarea>
      </div>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-4 col-form-label">VOLUMEN DE CONTRATACIÓN</label>
      <div class="col-sm-8">
        <textarea class="form-control" formControlName="volumen_de_contratacion" id="exampleFormControlTextarea1" rows="2"></textarea>
      </div>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-4 col-form-label">NIVEL SUPERIOR DE DECISIÓN (ESCALABILIDAD)</label>
      <div class="col-sm-8">
        <div class="row">
          <label for="personaResponsable" class="col-sm-3 col-form-label">Persona</label>
          <div class="col-sm-9">
            <input type="text" formControlName="persona_nivel_superior_de_desicion" class="form-control" id="personaResponsable" placeholder="Persona">
          </div>
        </div>
        <div class="row">
          <label for="departamento" class="col-sm-3 col-form-label">Dpto. / Cargo</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="departamento" placeholder="Departamento">
          </div>
        </div>
      </div>
    </div>
    <h2><b>APROBACIONES</b></h2>
    <div class="row">
      <div class="col-sm-6">
        <label for="departamento" class="col-form-label">Firma del director del Proyecto</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        <div class="row">
          <label for="departamento" class="col-sm-4 col-form-label">Fecha:</label>
          <div class="col-sm-8">
            <input type="date" class="form-control" id="inputDate" placeholder="Fecha">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <label for="departamento" class="col-form-label">Firma del director del Proyecto</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        <div class="row">
          <label for="departamento" class="col-sm-4 col-form-label">Fecha:</label>
          <div class="col-sm-8">
            <input type="date" class="form-control" id="inputDate" placeholder="Fecha">
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-default">Enviar</button>
  </form>
</div>