<div class="container">
  <form class="table-form" (ngSubmit)="logForm()" style="text-align: justify;">
    <p><b>CONTRATO ENTRE <input type="text" class="" placeholder="Nombre proveedor"> y <input type="text" placeholder="Nombre de la empresa"></b></p>
    <hr>
    <p>En <input type="text" placeholder="Nombre del lugar">, a <input type="date" placeholder="Fecha"></p>

    <h2>REUNIDOS</h2>

    <p>De una parte, <input type="text" placeholder="Nombre de la empresa"> actuando en nombre y representación de la
      citada Entidad, con
      NIT <input type="text" placeholder="Numero del NIT">
      Y domicilio en <input type="text" placeholder="Lugar">
      Y de otra, <input type="text" placeholder="Nombre del proveedor"> y domicilio en <input type="text" placeholder="Lugar">,
      con
      capacidad legal para la celebración de este acto.
      Reconociéndose ambos capacidad jurídica suficiente, suscriben el presente documento y, al efecto</p>

    <h2>EXPONEN</h2>
    <ul>
      <li>
        <b>PRIMERO</b> Que <input type="text" placeholder="Nombre de la empresa"> está interesado en contar con la
        colaboración de <input type="text" class="" placeholder="Nombre proveedor"> para el el
        suministro de <input type="text" class="" placeholder="Tipo de adquisición"> a <input type="text" class=""
          placeholder="Nombre de la empresa">
      </li>
      <li><b>SEGUNDO</b> Que <input type="text" placeholder="Nombre del proveedor"> le brinde asesoramiento a <input
          type="text" placeholder="Nombre de la empresa">.</li>
    </ul>

    <p>Por todo ello acuerdan formalizar el presente contrato de conformidad con las siguientes:</p>
    <h2>CLAUSULAS</h2>
    <ul>
      <li>
        <b>PRIMERO</b>El objeto del presente contrato es el suministro de <input type="text" class="" placeholder="Tipo de adquisición">
        a <input type="text" class="" placeholder="Nombre de la empresa">.
      </li>
      <li>
        <b>SEGUNDO</b> El proveedor encargado de dar estos suministros por <input type="text" class="" placeholder="Nombre del proveedor">
      </li>
      <li>
        <b>TERCERA</b> <input type="text" placeholder="Nombre del proveedor"> acepta que el proyecto en el cual va a
        brindar los suministros se desarrolle de acuerdo con las
        especificaciones técnicas que acompañan a este contrato y se compromete a informar regularmente a <input type="text"
          placeholder="Nombre de la empresa"> de la marcha de dichos suministros, y/o seguimientos.
      </li>
      <li>
        <b>CUARTA</b> La vigencia de este Contrato será de <input type="text" placeholder="Tiempo del contrato">,
        pudiéndose ampliar por acuerdo mutuo de las
        partes, si se considerase necesario para la finalización del proyecto. Antes de la finalización del proyecto y
        que no
        se requiera mas suministros <input type="text" placeholder="Nombre del proveedor"> deberá realizar previo aviso
        a <input type="text" placeholder="Nombre del proveedor">
      </li>
      <li>
        <b>QUINTA</b> Como contraprestación por la realización del suministro de <input type="text" class=""
          placeholder="Tipo de adquisición"> <input type="text" class="" placeholder="Nombre de la empresa">. se
        compromete a abonar a <input type="text" class="" placeholder="Nombre del proveedor"> la cantidad de <input
          type="text" class="" placeholder="Monto"> COP.
      </li>
      <li>
        <b>SEXTA</b> <input type="text" class="" placeholder="Nombre de la empresa">. será propietario de los
        suministro que compre o alquile en el tiempo que se acuerde con <input type="text" class="" placeholder="Nombre del proveedor">.
      </li>
      <li>
        <b>SEPTIMA</b> el presente convenio se dará por terminado , sin prejuicio de las demás causales establecidas en
        la ley, en los
        siguientes evento
        <ul>
          <li>Mutuo acuerdo</li>
          <li>Incumplimiento de cualquier obligación en el presente convenio</li>
        </ul>
      </li>
    </ul>
    <div class="d-flex flex-row-reverse mt-3">
      <button type="submit" class="btn btn-success" style="min-width:128px">GUARDAR</button>
    </div>
  </form>
</div>