<div class="container">
  <form class="table-form" [formGroup]="todo" (ngSubmit)="logForm()">
    <div class="row">
      <label for="tituloProyecto" class="col-sm-3 col-form-label">TITULO DEL PROYECTO</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="tituloProyecto" placeholder="Titulo del Proyecto">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        Código del proyecto
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-5 br">
            <input type="text" class="form-control" id="departamento" placeholder="Departamento">
          </div>
          <label for="tituloProyecto" class="col-sm-1 col-form-label">FECHA</label>
          <div class="col-sm-6">
            <input type="date" class="form-control" id="departamento" placeholder="Departamento">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        Director/Responsable del proyecto
      </div>
      <div class="col-sm-9">
        <div class="row">
          <label for="personaResponsable" class="col-sm-3 col-form-label">Persona</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="personaResponsable" placeholder="Persona Responsable">
          </div>
        </div>
        <div class="row">
          <label for="departamento" class="col-sm-3 col-form-label">Departamento</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="departamento" placeholder="Departamento">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>WBS ID</th>
            <th>Tipo Recurso</th>
            <th>Cantidad</th>
            <th>Comentarios</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <label for="tituloProyecto"  class="col-sm-12 col-form-label"><b>VISIÓN ESTRATÉGIGA/JUSTIFICACIÓN DEL PROYECTO</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control" formControlName="vision_estrategica" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
  </form>
</div>