<div class="container">
  <div class="card" ng-show="progressPercent > 0">
    <div class="item item-text-wrap">
      <div class="loader" [ngStyle]="{ 'width.%' : completionPercent}"> 
        <p class="percent">{{completionPercent}}%</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <a routerLink="crear" class="btn btn-success mb-3 ml-3">CREAR</a>
</div>
<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Activar</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row"></td>
        <td></td>
        <td></td>
        <td>
          <a class="btn btn-warning mr-2 text-white" [routerLink]="['editar', 1]">EDITAR</a>
          <a class="btn btn-danger text-white" >BORRAR</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>