<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">NIT/CEDULA</th>
                <th scope="col">Nombre</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td>
                    <a class="btn btn-warning mr-2 text-white" [routerLink]="['editar', 1]">EDITAR</a>
                    <a class="btn btn-success mr-2" [routerLink]="[1, 'contratos']">CONTRATOS</a>
                    <button class="btn btn-danger">BORRAR</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
