<div class="row">
  <a routerLink="crear" class="btn btn-success">CREAR</a>
</div>
<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>TÍTULO PROYECTO</th>
        <th>CÓDIGO PROYECTO</th>
        <th>ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>10/15/2018</td>
        <td>Título</td>
        <td>022165465</td>
        <td>
          <button class="btn btn-warning mr-2 text-white">EDITAR</button>
          <button class="btn btn-danger">BORRAR</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>