<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <div class="logo">
        <a routerLink="/">
          <img src="../assets/img/logo-udc.png" alt="Logo UDC">
        </a>
      </div>
    </div>
    <ul class="list-unstyled components">
      <li>
        <a href="#submenuIntegracion" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">INTEGRACION</a>
        <ul class="list-unstyled collapse" id="submenuIntegracion">
          <li>
            <a routerLink="/integracion/actaconstitucion" routerLinkActive="active">Acta de Constitución</a>
          </li>
          <li>
            <a routerLink="/integracion/planificacion" routerLinkActive="active">Planificación de Proyecto</a>
          </li>
          <li>
            <a href="">Cambios</a>
          </li>
          <li>
            <a href="">Acta de Riesgo</a>
          </li>
          <li>
            <a href="#pdc" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">Plan de
              Configuración</a>
            <ul class="list-unstyled collapse" id="pdc">
              <li>
                <a href="">
                  Gestión de la configuración 1
                </a>
              </li>
              <li>
                <a href="">
                  Gestión de la configuración 2
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="">Lecciones aprendidas</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#submenuRecursos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">RECURSOS</a>
        <ul class="list-unstyled collapse" id="submenuRecursos">
          <li>
            <a href="">Equipos</a>
          </li>
          <li>
            <a href="">Recursos</a>
          </li>
          <li>
            <a href="">Organización de Proyecto</a>
          </li>
          <li>
            <a href="">Desarrollo de Equipo</a>
          </li>
          <li>
            <a href="">Actividades</a>
          </li>
          <li>
            <a href="">Gestión de Equipos</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">ADQUISICIONES</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="btn btn-dark d-inline-block d-lg-none" id="btnSidebar" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">Gesprotic</a>
      </div>
    </nav>

    <div class="wrap-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>