<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <div class="logo">
        <img src="../assets/img/logo-udc.png" alt="Logo UDC">
      </div>
    </div>
    <ul class="list-unstyled components">
      <li>
        <a href="#">INTEGRACION</a>
        <ul>
          <li>
            <a href="">Acta de Constitución</a>
          </li>
          <li>
            <a href="">Planificación  de Proyecto</a>
          </li>
          <li>
            <a href="">Cambios</a>
          </li>
          <li>
            <a href="">Acta de Riesgo</a>
          </li>
          <li>
            <a href="">Plan de Configuración</a>
            <ul>
              <li>
                <a href="">
                  Gestión de la configuración 1
                </a>
              </li>
              <li>
                <a href="">
                  Gestión de la configuración 2
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="">Lecciones aprendidas</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">RECURSOS</a>
        <ul>
          <li>
            <a href="">Equipos</a>
          </li>
          <li>
            <a href="">Recursos</a>
          </li>
          <li>
            <a href="">Organización de Proyecto</a>
          </li>
          <li>
            <a href="">Desarrollo de Equipo</a>
          </li>
          <li>
            <a href="">Actividades</a>
          </li>
          <li>
            <a href="">Gestión de Equipos</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">ADQUISICIONES</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Gesprotic</a>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" id="btnSidebar" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Page</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="wrap-container">
      HOLA!
    </div>
  </div>
</div>