<div class="row">
  <a routerLink="crear" class="btn btn-success mb-3 ml-3">CREAR</a>
</div>
<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Fecha</th>
        <th scope="col">TÍTULO PROYECTO</th>
        <th scope="col">CÓDIGO PROYECTO</th>
        <th scope="col">ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>10/15/2018</td>
        <td>Título</td>
        <td>022165465</td>
        <td>
          <a class="btn btn-warning mr-2 text-white" [routerLink]="['editar', 1]">EDITAR</a>
          <button class="btn btn-danger">BORRAR</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #template>

  <div class="modal-header">
    <button type="button" class="close" (click)="modalRef.hide()" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h6 class="modal-title">{{modaltitle}}</h6>

  </div>

  <div class="modal-content">
    <div class="container">
      <form class="table-form" [formGroup]="todo" (ngSubmit)="miembrosForm()">
        <div class="row">
          <div class="col offset-md-8">
            <div class="form-group row">
              <label for="inputDate" class="col-sm-2 col-form-label">Fecha</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="inputDate" placeholder="Fecha" formControlName="fecha">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <label for="personaResponsable" class="col-sm-2 col-form-label">Título del proyecto</label>
          <div class="col-sm-4 br">
            <input type="text" class="form-control" id="personaResponsable" placeholder="Persona" formControlName="titulo">
          </div>
          <label for="personaResponsable" class="col-sm-2 col-form-label br">Código del proyecto</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="personaResponsable" placeholder="Persona" formControlName="persona_responsable">
          </div>
        </div>
        <div class="row">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Tipo</th>
                <th>NOMBRE</th>
                <th>APELLIDOS</th>
                <th>ROL</th>
                <th>DEPARTAMENTO/AREA</th>
                <th>LUGAR DE TRABAJO</th>
                <th>HORARIO</th>
                <th>TLF</th>
                <th>EMAIL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
              </tr>
              <tr>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
              </tr>
              <tr>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
              </tr>
              <tr>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
              </tr>
              <tr>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
              </tr>
              <tr>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
              </tr>
              <tr>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
              </tr>
              <tr>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
              </tr>
              <tr>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
              </tr>
              <tr>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
              </tr>
              <tr>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <button class="btn btn-success">GUARDAR</button>
        </div>
      </form>
    </div>
  </div>

</ng-template>