<div class="row">
  <a routerLink="crear" class="btn btn-success ml-3 mb-3">NUEVO</a>
</div>
<div class="row">
  <table class="table table-bordered">
      <thead>
          <tr>
              <th scope="col">NIT/CEDULA</th>
              <th scope="col">Nombre</th>
              <th scope="col">Acciones</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td scope="row"></td>
              <td></td>
              <td>
                  <a class="btn btn-warning mr-2 text-white" [routerLink]="['/adquisiciones/proveedores/contrato', 1]">VER</a>
              </td>
          </tr>
      </tbody>
  </table>
</div>