<div class="container">
  <form class="table-form" [formGroup]="todo" (ngSubmit)="logForm()">
    <div class="row">
      <div class="col offset-md-8">
        <div class="form-group row">
          <label for="inputDate" class="col-sm-2 col-form-label">Fecha</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="inputDate" placeholder="Fecha" formControlName="fecha">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <label for="personaResponsable" class="col-sm-2 col-form-label">Título del proyecto</label>
      <div class="col-sm-4 br">
        <input type="text" class="form-control" id="personaResponsable" placeholder="Persona">
      </div>
      <label for="personaResponsable" class="col-sm-2 col-form-label br">Código del proyecto</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="personaResponsable" placeholder="Persona">
      </div>
    </div>
    <br>
    <h6>ROLES Y RESPONSABILIDADES DEL EQUIPO DEL PROYECTO</h6>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Tipo de<br>recurso</th>
            <th>FUNCIÓN/ROL EN EL PROYECTO</th>
            <th>DESCRIPCIÓN/RESPONSABILIDAD</th>
            <th>ÁMBITO DE<br>DESICIÓN</th>
            <th>COMPETENCIAS NECESARIAS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>