<div class="container">
  <form class="table-form" [formGroup]="todo" (ngSubmit)="logForm()">
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>Nombre</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control" formControlName="nombre">
      </div>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>Nombre de la empresa</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control" formControlName="nombre_empresa">
      </div>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>Dirección</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control" formControlName="dirección">
      </div>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>Tipo de servicio</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control" formControlName="tipo_servicio">
      </div>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>Teléfono.</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control" formControlName="telefono">
      </div>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>E-Mail.</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control" formControlName="email">
      </div>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>Nit o CC.</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control" formControlName="nit">
      </div>
    </div>
    <div class="d-flex flex-row-reverse mt-3">
      <button type="submit" class="btn btn-success" style="min-width:128px">Enviar</button>
    </div>
  </form>
</div>