<div class="container">
  <form class="table-form" [formGroup]="todo" (ngSubmit)="logForm()">
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>Nombre</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>Nombre de la empresa</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>Dirección</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>Tipo de servicio</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>Teléfono.</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>E-Mail.</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>Nit o CC.</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control">
      </div>
    </div>
  </form>
</div>