/* You can add global styles to this file, and also import other style files */
@import "styles-variables";

/*
    DEMO STYLE
*/
body {
    font-family: 'Futura Round';
    background: #fafafa;
}

p {
    font-family: 'Futura Round';
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: $color-black;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#content .navbar.navbar-expand-lg{
    background: $color-black !important;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: $color-black;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header .logo{
    width: 96px;
    height: 96px;
    img{
        width: 100%;
        height: 100%;
    }
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
    background: $color-yellow;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    display: block;
    padding: 24px 16px;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.8;
}

#sidebar ul li a:hover {
    color: $color-yellow;
    background: $color-gray;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: $color-yellow;
}
#sidebar.active {
    margin-left: -240px;
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: $color-black;
}

ul ul li a.active {
    background-color: $color-gray;
    color: $color-yellow;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

#content .wrap-container{
    padding: 16px;
}

.img-adj > img {
    width: 240px;
    height: 240px;
}

.text-adj {
    text-align: center;
    max-width: 720px;
}

form.table-form > .row {
    border: 1px solid $border-form-color;
}

form.table-form > .row > div {
    padding: 8px;
}

form.table-form > .row > div:nth-child(2) {
    border-left: 1px solid $border-form-color;
}
.table-form > h2 {
    text-align: center;
    margin: 32px;
}
.br{
    border-right: 1px solid $border-form-color;
}
.nbr{
    border-left: 0px !important;
}
h6{
    margin: 10px;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    form.table-form > .row > div:nth-child(2) {
        border-left: none;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
.modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
    width: 1140px !important;
}