@font-face {
  font-family: 'Futura Round';
  src: url('/assets/fonts/futura/FuturaRound-Bold.eot');
  src: url('/assets/fonts/futura/FuturaRound-Bold.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/futura/FuturaRound-Bold.woff2') format('woff2'),
      url('/assets/fonts/futura/FuturaRound-Bold.woff') format('woff'),
      url('/assets/fonts/futura/FuturaRound-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Round';
  src: url('/assets/fonts/futura/FuturaRound-Medium.eot');
  src: url('/assets/fonts/futura/FuturaRound-Medium.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/futura/FuturaRound-Medium.woff2') format('woff2'),
      url('/assets/fonts/futura/FuturaRound-Medium.woff') format('woff'),
      url('/assets/fonts/futura/FuturaRound-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Round';
  src: url('/assets/fonts/futura/FuturaRound-Book.eot');
  src: url('/assets/fonts/futura/FuturaRound-Book.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/futura/FuturaRound-Book.woff2') format('woff2'),
      url('/assets/fonts/futura/FuturaRound-Book.woff') format('woff'),
      url('/assets/fonts/futura/FuturaRound-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$color-yellow: #ffcc00;
$color-black: #10151c;
$color-white: #fff;
$color-gray: #1b212a;
$border-form-color: #dee2e6;