<div class="row">
  <a routerLink="crear" class="btn btn-success ml-3 mb-3">CREAR</a>
</div>
<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">NIT/CEDULA</th>
        <th scope="col">Nombre</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row"></td>
        <td></td>
        <td>
          <button class="btn btn-warning mr-2 text-white">EDITAR</button>
          <button class="btn btn-success mr-2">SELECCIONAR</button>
          <button class="btn btn-danger">BORRAR</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>