<div>
  <div class="d-flex justify-content-center align-items-center flex-column">
    <div class="img-adj">
      <img src="../../assets/img/logo.svg" alt="">
    </div>
    <div class="text-adj">
      Bienvenido a GESPROTIC, éste sitio ayudará a los gestores de proyecto
      a tener un mejor manejo de su proyecto teniendo en cuenta la norma: ISO 21500,
      haciendo referencia al conjunto de indicaciones o pautas sobre Direccion y
      Gestion de proyectos, Estas pautas concretan la forma en que la compañia gestiona
      sus normas en relacion a los proyectos, los procesos, los tiempos o los riesgos, entre otros.
      Éste sitio es desarrollado por estudiantes de la Universidad de Cartagena.
    </div>
  </div>
</div>