<div class="container">
  <form class="table-form" [formGroup]="todo" (ngSubmit)="logForm()">
    <div class="row">
      <label for="tituloProyecto" class="col-sm-3 col-form-label">TITULO DEL PROYECTO</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="tituloProyecto" placeholder="Titulo del Proyecto">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        Director/Rpble. del Proyecto
      </div>
      <div class="col-sm-9">
        <div class="row">
          <label for="personaResponsable" class="col-sm-3 col-form-label">Persona</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="personaResponsable" placeholder="Persona">
          </div>
        </div>
        <div class="row">
          <label for="departamento" class="col-sm-3 col-form-label">Departamento</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="departamento" placeholder="Departamento">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <label for="personaResponsable" class="col-sm-2 col-form-label">Edición previa/version</label>
      <div class="col-sm-4 br">
        <input type="text" class="form-control" id="personaResponsable" placeholder="Edición previa/version">
      </div>
      <label for="personaResponsable" class="col-sm-2 col-form-label br">Fecha edición previa</label>
      <div class="col-sm-4">
        <input type="date" class="form-control" id="personaResponsable" placeholder="Fecha edición previa">
      </div>
    </div>
    <div class="row">
      <label for="personaResponsable" class="col-sm-2 col-form-label">Edición revisada</label>
      <div class="col-sm-4 br">
        <input type="text" class="form-control" id="personaResponsable" placeholder="Edición revisada">
      </div>
      <label for="personaResponsable" class="col-sm-2 col-form-label br">Fecha revisión</label>
      <div class="col-sm-4">
        <input type="date" class="form-control" id="personaResponsable" placeholder="Fecha revisión">
      </div>
    </div>
    <br>
    <h6>DESCRIPCIÓN DEL PLAN DE GESTIÓN RIESGOS</h6>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>DESCRIPCIÓN DEL PROCESO DE GESTIÓN</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <textarea placeholder="Metodología, procedimientos, fuentes de datos utilizadas, etc." class="form-control" id="exampleFormControlTextarea1"
          rows="3"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>HERRAMIENTAS Y TÉCNICAS DE IDENTIFICACIÓN Y
          ESTIMACIÓN</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control" placeholder="Herramientas empleadas, sistemas de estimación, cálculos probabilísticos, etc."
          id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>DISTRIBUCIÓN DE ROLES Y RESPONSABILIDADES</b></label>
    </div>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>TAREA/TRABAJO/ACTIVIDAD</th>
            <th>RESPONSABLE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" id=""></td>
            <td><input type="text" class="form-control" id=""></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>ÁREAS DE TOLERANCIA AL RIESGO Y SUS UMBRALES</b></label>
    </div>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th rowspan="2">ÁREA/<br>STAKEHOLDER</th>
            <th colspan="4">UMBRAL/SENSIBILIDAD AL RIESGO</th>
          </tr>
          <tr>
            <th>TIEMPO</th>
            <th>CALIDAD</th>
            <th>COSTE</th>
            <th>OTRO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input placeholder="Ej. Stakeholder X" type="text" class="form-control"></td>
            <td><input placeholder="2 días max." type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input placeholder="5% max" type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>CATEGORÍAS Y TIPOS DE RIESGOS</b></label>
    </div>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>TIPO DE RIESGO</th>
            <th>DESCRIPCIÓN/CAUSAS/FUENTES</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>DEFINICIÓN DE LA ESCALA DE NIVELES DE
          PROBABILIDAD</b></label>
    </div>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nivel de probabilidad</th>
            <th>Descipción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>80-99% (Casi cierto)</td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td>60-80% (Probable)</td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td>40-60% (Posible)</td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td>20-40% (Poco probable)</td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td>1-20% (Raro)</td>
            <td><input type="text" class="form-control"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>DEFINICIÓN DE LA ESCALA DE NIVELES DE
          IMPACTO</b></label>
    </div>
    <div class="row">
      <table class="table table-bordered" style="text-align:center">
        <tr>
          <td rowspan="2"><b>Impacto</b></td>
          <td colspan="5" style="text-align:center">Niveles de impacto</td>
        </tr>
        <tr>
          <td>Muy bajo</td>
          <td>Bajo</td>
          <td>Moderado</td>
          <td>Alto</td>
          <td>Muy alto</td>
        </tr>
        <tr>
          <td rowspan="2"><b>Tiempo</b></td>
          <td> &lt;4%</td>
          <td>4-7%</td>
          <td>7-10%</td>
          <td>10-15%</td>
          <td>&gt;15%</td>
        </tr>
        <tr>
          <td colspan="5">(En aumento duración actividad vinculada al riesgo)</td>
        </tr>
        <tr>
          <td rowspan="2"><b>Coste</b></td>
          <td> &lt;1%</td>
          <td>1-3%</td>
          <td>3-5%</td>
          <td>5-10%</td>
          <td>&gt;10%</td>
        </tr>
        <tr>
          <td colspan="5">(En aumento de costes del proyecto)</td>
        </tr>
        <tr>
          <td><b>Calidad</b></td>
          <td>Rediccón de prestaciones apenas medible</td>
          <td>Existen deficiencias en algunas funciones o sistemas</td>
          <td>Deficiencias en la mayoría de funciones o sistemas</td>
          <td>Pérdida generalizada de prestaciones</td>
          <td>Pérdida inaceptable de prestaciones</td>
        </tr>
        <tr>
          <td><b>Alcance</b></td>
          <td>Escasa diferencia sobre el alcance inicial</td>
          <td>DIferencias apreciables en varias áreas</td>
          <td>Diferencias de alcance en la mayoría de las áreas</td>
          <td>Diferencias importantes en todas las áreas</td>
          <td>Diferencias de alcance inaceptables, proyecto en cuestión</td>
        </tr>
      </table>
    </div>
    <div class="row">
      <table class="table table-bordered">
        <tr>
          <td rowspan="6" style="height: 200px;width: 10px;">
            <div style="writing-mode: vertical-lr;transform: rotate(180deg);">Escala de impacto</div>
          </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
        </tr>
        <tr>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
        </tr>
        <tr>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
        </tr>
        <tr>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
        </tr>
        <tr>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
        </tr>
        <tr>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
          <td> <input type="text" class="form-control"> </td>
        </tr>
      </table>
      <h6 style="text-align:center">Escala de probabilidad</h6>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>PRESUPUESTO PARA LA GESTIÓN DE RIESGO</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control" rows="3"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>PROTOCOLO DE CONTINGENCIA</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control" rows="3" placeholder="Condiciones de ejecución de las acciones de contingencia"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>PROTOCOLO DE CONTROL DE RIESGOS</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control" placeholder="Descripción del proceso de revisión iterativa de los riesgos en el proyecto, periodicidad de las revisiones, etc."
          id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>PROTOCOLO DE COMUNICACIÓN DE RIESGOS</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control" placeholder="Descripción del proceso de comunicación de eventos de riesgos, ver plantilla G_ISO21500_Rsk_P06_Comunicacion Riesgos_V1"
          id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>PROTOCOLO DE AUDITORÍA DEL PLAN DE RIESGOS</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control" placeholder="Descripción del proceso de control de la implantación y efectividad del plan de riesgos"
          id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <div class="d-flex flex-row-reverse mt-3">
      <button type="submit" class="btn btn-success" style="min-width:128px">Enviar</button>
    </div>
  </form>
</div>