<div class="container">
  <form class="table-form" [formGroup]="todo" (ngSubmit)="logForm()">
    <div class="row">
      <div class="col offset-md-4">
        <div class="form-group row">
          <label for="inputDate" class="col-sm-4 col-form-label">Código Identific. Proyecto</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputDate" formControlName="fecha">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-3 col-form-label">TITULO DEL PROYECTO</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="nombre" placeholder="Titulo del Proyecto">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        Director / Rpble. del proyecto
      </div>
      <div class="col-sm-9">
        <div class="row">
          <label for="personaResponsable" class="col-sm-3 col-form-label">Persona</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="personaResponsable" placeholder="Persona Responsable">
          </div>
        </div>
        <div class="row">
          <label for="departamento" class="col-sm-3 col-form-label">Aprobación (Firma)</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="departamento" placeholder="Departamento">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3">
        MIEMBRO DEL EQUIPO
      </div>
      <div class="col-sm-9">
        <div class="row">
          <label for="personaResponsable" class="col-sm-3 col-form-label">Persona</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="personaResponsable" placeholder="Persona Responsable">
          </div>
        </div>
        <div class="row">
          <label for="departamento" class="col-sm-3 col-form-label">Rol</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="departamento" placeholder="Departamento">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-2">
        PERIODO
      </div>
      <div class="col-sm-3 br">
        <label for="departamento" class="col-form-label">Desde</label>
        <input type="text" class="form-control" id="departamento" placeholder="Departamento">
      </div>
      <div class="col-sm-3 br">
        <label for="departamento" class="col-form-label">Hasta</label>
        <input type="text" class="form-control" id="departamento" placeholder="Departamento">
      </div>
      <label for="departamento" class="col-sm-2 col-form-label">Fecha de estado</label>
      <input type="text" class="form-control col-sm-2" id="departamento" placeholder="Departamento">
    </div>
    <h2><b>COMPETENCIAS TÉCNICAS</b></h2>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">OBJETIVOS DE ALCANCE</th>
            <th>Valoración</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3"><textarea class="form-control" placeholder="Indicadores"></textarea></td>
            <td rowspan="3"><textarea class="form-control" placeholder="Comentarios"></textarea></td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Superada Expectativas
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Alcanza Expectativas
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Área de mejora
                </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">OBJETIVOS DE CALIDAD</th>
            <th>Valoración</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3"><textarea class="form-control" placeholder="Indicadores"></textarea></td>
            <td rowspan="3"><textarea class="form-control" placeholder="Comentarios"></textarea></td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Superada Expectativas
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Alcanza Expectativas
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Área de mejora
                </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">OBJETIVOS DE PLANIFICACIÓN(TIEMPO)</th>
            <th>Valoración</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3"><textarea class="form-control" placeholder="Indicadores"></textarea></td>
            <td rowspan="3"><textarea class="form-control" placeholder="Comentarios"></textarea></td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Superada Expectativas
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Alcanza Expectativas
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Área de mejora
                </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">OBJETIVOS DE PRESUPUESTO</th>
            <th>Valoración</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3"><textarea class="form-control" placeholder="Indicadores"></textarea></td>
            <td rowspan="3"><textarea class="form-control" placeholder="Comentarios"></textarea></td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Superada Expectativas
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Alcanza Expectativas
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Área de mejora
                </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <h6><b>COMPETENCIAS INTERPERSONALES</b></h6>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">LIDERAZGO</th>
            <th>Valoración</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3"><textarea class="form-control" placeholder="Indicadores"></textarea></td>
            <td rowspan="3"><textarea class="form-control" placeholder="Comentarios"></textarea></td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Superada Expectativas
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Alcanza Expectativas
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Área de mejora
                </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">COMUNICACIÓN</th>
            <th>Valoración</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3"><textarea class="form-control" placeholder="Indicadores"></textarea></td>
            <td rowspan="3"><textarea class="form-control" placeholder="Comentarios"></textarea></td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Superada Expectativas
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Alcanza Expectativas
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Área de mejora
                </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">TRABAJO EN EQUIPO</th>
            <th>Valoración</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3"><textarea class="form-control" placeholder="Indicadores"></textarea></td>
            <td rowspan="3"><textarea class="form-control" placeholder="Comentarios"></textarea></td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Superada Expectativas
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Alcanza Expectativas
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Área de mejora
                </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">TOMA DE DESICIONES</th>
            <th>Valoración</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3"><textarea class="form-control" placeholder="Indicadores"></textarea></td>
            <td rowspan="3"><textarea class="form-control" placeholder="Comentarios"></textarea></td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Superada Expectativas
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Alcanza Expectativas
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Área de mejora
                </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">GESTIÓN DE CONFLICTOS</th>
            <th>Valoración</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3"><textarea class="form-control" placeholder="Indicadores"></textarea></td>
            <td rowspan="3"><textarea class="form-control" placeholder="Comentarios"></textarea></td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Superada Expectativas
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Alcanza Expectativas
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Área de mejora
                </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">ASERTIVIDAD</th>
            <th>Valoración</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3"><textarea class="form-control" placeholder="Indicadores"></textarea></td>
            <td rowspan="3"><textarea class="form-control" placeholder="Comentarios"></textarea></td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Superada Expectativas
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Alcanza Expectativas
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Área de mejora
                </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2>PLAN DE DESARROLLO PERSONAL</h2>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>VISIÓN ESTRATÉGIGA/JUSTIFICACIÓN DEL PROYECTO</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control" formControlName="vision_estrategica" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>FORTALEZAS PERSONALES</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control" formControlName="vision_estrategica" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>ÁREAS DE MEJORA (OBJETIVOS A LOGRAR)</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control" formControlName="vision_estrategica" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Acciones de desarrollo</th>
            <th>Plazo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>VISIÓN ESTRATÉGIGA/JUSTIFICACIÓN DEL PROYECTO</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control" formControlName="vision_estrategica" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <label for="tituloProyecto" class="col-sm-12 col-form-label"><b>COMENTARIOS ADICIONALES</b></label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control" formControlName="vision_estrategica" id="exampleFormControlTextarea1" rows="5"></textarea>
      </div>
    </div>
  </form>
</div>